{% extends "base.html" %}

{% block content %}

<h2>Listado de Clientes</h2>

<form action="/reporte_ventas" method="POST" class="d-flex gap-2 mb-3">
    <input type="date" name="fecha_inicio" required>
    <input type="date" name="fecha_fin" required>

    <button class="btn btn-success">
        Reporte de Ventas
    </button>
</form>

<table class="table table-bordered">

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Fecha Registro</th>
            <th>Venta ID</th>
            <th>Fecha Venta</th>
        </tr>
    </thead>

    <tbody>
        {% for d in datos %}
        <tr>
            <td>{{ d[0] }}</td>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td>{{ d[4] }}</td>
            <td>{{ d[5] }}</td>
            <td>{{ d[6] if d[6] else '-' }}</td>
            <td>{{ d[7] if d[7] else '-' }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}