{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

<h2>Productos</h2>

<a href="/productos/crear" class="btn btn-primary mb-3">
Agregar Producto
</a>
<form action="/reporte_productos" method="POST" class="form-reporte">
    <input type="date" name="fecha_inicio" required>
    <input type="date" name="fecha_fin" required>

    <button type="submit" class="btn-pdf">
         Descargar Reporte
    </button>
</form>

<table class="table table-striped">

<thead class="table-dark">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Cantidad</th>
<th>Precio</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

{% for p in productos %}
<tr>

<td>{{ p[0] }}</td>
<td>{{ p[1] }}</td>
<td>{{ p[2] }}</td>
<td>{{ p[3] }}</td>

<td>

<a href="/productos/editar/{{p[0]}}" class="btn btn-warning btn-sm">
Editar
</a>

<a href="/productos/eliminar/{{p[0]}}" class="btn btn-danger btn-sm">
Eliminar
</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}